{% extends "catalog/base.html" %}
{% block content %}
{% for book in books %}
<div class='product-block-outer'>
	<div class='product-block'>
		<a class='product-block-img' href='{{ book.get_absolute_url }}'>
			<img alt='Book Image' src='{{ book.img_url }}'>
		<div class='product-block-title'>{{ book.title }}</div>
		<div class='product-block-price'>${{ book.price }}</div>
		</a>
	</div>
</div>
{% endfor %}				    
<div class='pagination cf'>
	{% if books.has_previous %}
	<span class='previous'>		
		<a href='?page={{ books.previous_page_number }}'>previous</a>
	</span>
	{% endif %}
	<span class="current">
		Page {{ books.number }} of {{ books.paginator.num_pages }}
	</span>
	{% if books.has_next %}
	<span class='next'>
		<a href='?page={{ books.next_page_number }}'>next</a>
	</span>
	{% endif %}
</div>    
{% endblock %}

